:root {
    --color1: #10B981;
    --color2: #6EE7B7;
    --white: white;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
}
.page{
    height: 100%;
    display: flex;
    flex-direction: column;
}
input{
    outline: none !important;
    border: none;
    border-bottom: 2px solid var(--color1);
    height: 22px;
    font-size: 16px;
    box-sizing: border-box;
    width: 60px;
}
input:focus{
    border-bottom: 3px solid var(--color1);
}
nav {
    height: 80px;
    background-color: var(--color1);
}
.main{
    background-color: var(--white);
    height: 100%;
    padding: 15px;
}
footer{
    height: 60px;
    background-color: var(--color1);
}
.Activity{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: auto;
    box-sizing: border-box;
    height: 28px;
}
.main > input:first-of-type{
    margin-bottom: 20px;
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
